th {
  cursor: pointer;
  background-color: white;
}

th:hover {
  background-color: #9fc856;
  color: white;
}

.react-datepicker {
  display: inline-block;
}

.react-datepicker__input-container input {
  width: 150px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-datepicker__triangle {
  border-bottom-color: #ccc;
}

.react-datepicker-popper {
  z-index: 1;
}

.status-shape {
  display: inline-block;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  margin-right: 5px;
}

.status-shape.red {
  background-color: #ff0000;
  width: 70px;
}

.status-shape.green {
  background-color: green;
  width: 50px;
}
