.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-brand img {
  max-height: 60px;
  max-width: 150px;
}

.navbar .nav-link {
  color: #757575;
}

.navbar .nav-link:hover {
  color: #9fc856;
}

.navbar .nav-link.active {
  color: #9fc856;
  font-weight: 600;
}

.divider {
  margin: 10px 0;
  height: 1px;
  background-color: #ccc;
}
