.sidebar {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 10px;
  border-right: 1px solid #e7e7e7;
}

.sidebar .nav-link {
  color: #757575;
}

.sidebar .nav-link:hover {
  color: #9fc856;
}

.sidebar .nav-link.active {
  color: #9fc856;
  font-weight: 600;
}

.sidebar .icon {
  margin-right: 8px;
  font-size: 18px;
}

.sidebar-dropdown {
  position: fixed;
  padding-bottom: 10px;
  padding-left: 10px;
  bottom: 0;
}

.dropdown-text {
  margin-left: 10px;
  background-color: transparent !important;
  font-size: 16px;
  border: none;
  padding: 0;
  color: #757575;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.dropdown-text:hover {
  color: #9fc856;
  box-shadow: none;
  outline: none;
  background-color: transparent !important;
}

.dropdown-text:active {
  font-weight: 600;
  color: #9fc856;
  box-shadow: none;
  outline: none;
  background-color: transparent !important;
}

.dropdown-text:focus {
  font-weight: 600;
  color: #9fc856;
  box-shadow: none;
  outline: none;
  background-color: transparent !important;
}

/* Custom styles for the round image */
.round-image {
  width: 30px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  border-radius: 50%;
}
