.start {
  background-color: #9fc856;
  border-color: #9fc856;
  font-weight: 600;
}

.start:hover {
  background-color: #fff;
  color: #9fc856;
  border-color: #9fc856;
}

.start:focus {
  background-color: #9fc856 !important;
  border-color: #9fc856 !important;
}
